<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IQ.CuentasMedicas.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IQ.CuentasMedicas.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Testing" connectionString="Data Source=SRVDEVTEM1;Initial Catalog=IQ_Doc_Neps_DiaDia_Dev;User ID=RecobrosAgilDev;Password=RecobrosAgilDev;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="5000"
        numberToRemoveWhenScavenging="10" backingStoreName="Isolated Storage Cache Store" />
    </cacheManagers>
    <backingStores>
      <add name="Isolated Storage Cache Store" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        encryptionProviderName="" partitionName="IQ.CuentasMedicas.Cache" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>
  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceRouterCoomeva1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IServiceRouterCoomevaSinHomologo"
          closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
          sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false"
          hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8"
          transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IImageServiceImageContract" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="20000000" maxReceivedMessageSize="20000000"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="20000000"
            maxBytesPerRead="4096" maxNameTableCharCount="20000000" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SearchSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic"
              realm="Idc Security /ucmrecobro/idcplg" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IWCFBasicaTerceros" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="1000000" maxReceivedMessageSize="1000000"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IServiceRouterCoomeva" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="basicHttpEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAuditMessageContract" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IServiceRouterSanitas" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="5242880" maxBufferSize="5242880" maxReceivedMessageSize="5242880"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

        <binding name="basicHttpBinding_General" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
			    <binding name="AuthServiceEndPoint" />								  
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTcpEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false"
          transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>

      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://SRVUCMPruebas.IQNetwork.hdq/ucmrecobro/idcplg"
        binding="basicHttpBinding" bindingConfiguration="SearchSoap"
        contract="ProxyUcm.SearchSoap" name="SearchSoap" />
      <endpoint address="http://localhost/WCFBasicaTerceros/WCFBasicaTerceros.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFBasicaTerceros"
        contract="WCFBasicaTerceros.IWCFBasicaTerceros" name="BasicHttpBinding_IWCFBasicaTerceros" />
      <endpoint address="http://bog-dev-web/RouterServiceCoomeva/ServiceRouterCoomeva.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceRouterCoomeva1"
        contract="WCFRouterCoomeva.IServiceRouterCoomeva" name="BasicHttpBinding_IServiceRouterCoomeva1" />
      <endpoint address="http://bog-dev-web/RouterServiceCoomeva/ServiceRouterCoomeva.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceRouterCoomevaSinHomologo"
        contract="WCFRouterCoomeva.IServiceRouterCoomevaSinHomologo"
        name="BasicHttpBinding_IServiceRouterCoomevaSinHomologo" />
		
      <endpoint address="http://bog-tec-wb.iqnetwork.hdq:81/ImageService/ImageService.svc"
        binding="basicHttpBinding" bindingConfiguration="basicHttpEndpoint"
        contract="IImageServiceImageContract" name="basicHttpEndpoint" />
		
      <endpoint address="http://192.168.192.31:9020/AuditService/AuditService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuditMessageContract"
        contract="AuditService.IAuditMessageContract" name="BasicHttpBinding_IAuditMessageContract" />
      <endpoint address="http://websanitas/RouterWebServiceColSanitas/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_General"
        contract="RouterWSColsanitas.IRouterService" name="basicHttpBinding_General" />
      <endpoint address="http://bog-tec-wb.iqnetwork.hdq:81/Router_Test/Service.svc"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceRouterSanitas"
      contract="RouterSanitas.IRouterService" name="BasicHttpBinding_IServiceRouterSanitas" />

<!-- SSO -->

      <endpoint address="http://bog-dev-inf/AuthenticationService/AuthenticationService.svc"
        binding="basicHttpBinding" bindingConfiguration="AuthServiceEndPoint"
        contract="SSOService.IAuthenticationService" name="AuthServiceEndPoint" />
    																						
    </client>


  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>


  <userSettings>
    <IQ.CuentasMedicas.My.MySettings>
      <setting name="ServidorArchivos" serializeAs="String">
        <value>\\arcangel\TESTIMGCOLSUBSIDIO</value>
      </setting>
    </IQ.CuentasMedicas.My.MySettings>
  </userSettings>
  <applicationSettings>
    <IQ.CuentasMedicas.My.MySettings>
      <setting name="StrConnectionTO" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="urnRegional" serializeAs="String">
        <value>urn:iq_doc_bogota</value>
      </setting>
      <setting name="IQDOC2007_apocalipsis_IQD_Service" serializeAs="String">
        <value>http://apocalipsis/IQL_WS/IQL_WS.asmx</value>
      </setting>
      <setting name="habilitarTipoCliente" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Ciudad" serializeAs="String">
        <value>4742FAFE65CCDCB1A05FB8CC7AE10014</value>
      </setting>
      <setting name="PaginaCambioPsw" serializeAs="String">
        <value>9F402F74921078CDC904642A4BB11B5F367B9D8612AF99A1738D152DA4A2DA7604CEFC9B7514E8964FD10B3B29604F13ED99F1453EFE4FCA8768DF94CDF67F99</value>
      </setting>
      <setting name="Modo" serializeAs="String">
        <!--value>51B4245980DA380DE3F4BA2D4A849CBE</value-->
        <!--Desarrollo-->
        <value>B9902408A5659D7D8B8507D4BBF63E88</value>
        <!--Proceso-->
        <!--value>B9902408A5659D7D8B8507D4BBF63E88</value-->
        <!--Pruebas-->
      </setting>
      <setting name="CiudadFisicos" serializeAs="String">
        <value>cab2d0af-7851-4888-8bf2-815386bf44ba</value>
      </setting>
      <setting name="ODRStrConnection" serializeAs="String">
        <value>553A8A593FD25A91B145AEBCA3D22FA53DE245A050996D9E865915A2A48631C18A6EEDF406FABEC37146FB69EB76C8BF9598739469E60365F456D5F9C2F73B864D94472475341B1375E864BA1EAFA78AA54E7DBF8F2C156582197F611BCEA4D5C7FBDD63CCE5A39A9EEED47A42D0B2F110BC98A89A85EFBA170CF261F4344645BD1661F76D267D151C90479FAD6688C8</value>
      </setting>
      <setting name="LoginUCM" serializeAs="String">
        <value>sysadmin</value>
      </setting>
      <setting name="PasswordUCM" serializeAs="String">
        <value>D65D2811BDC886EC</value>
      </setting>
      <setting name="StrConnection" serializeAs="String">
        <value>553A8A593FD25A91E241E22D562178791D48DD46E7EC16B0A870AC95D9693299103DB50BBD23D81C4E42640825C2A4C6E6F7807A400FB6F170EFB266B4A05F9DC0D04323091FBCDAA39F93E153D0787EDAA9B10F90FEC321FDF120273A47E890FE87965D307760C543BD0B6FC87B99DD</value>
      </setting>
      <setting name="IQDOC2007_UCMService_Search" serializeAs="String">
        <value>http://SRVUCMPruebas.IQNetwork.hdq/ucmrecobro/idcplg</value>
      </setting>
      <setting name="UCMUrl" serializeAs="String">
        <value>9F402F74921078CD584587BBF5B00AF50F3F7888D67172FE04513328FD9582FE</value>
      </setting>
      <setting name="SSO" serializeAs="String">
        <value>111F7AD576AD5BB45BFF5DCFE7FE12D7FE95D2E32F7E8E74E52955FCE76E605F8FA53465065E043C45ADA29FC7A39476BFD39B6ECFFD6C417AEC7D73D4B322D779DD59757054689E</value>
      </setting>
      <setting name="ImageServiceUrl" serializeAs="String">
        <value>84F70F14347E3D71356CB1BE84B7D639D0FD088AB01993E2070AD9C896B1CC80C96B839976A9E0930F32667D687C4BC3EBB81DA1CEFD23B8</value>
      </setting>
      <setting name="ModoImagenes" serializeAs="String">
        <value>True</value>
      </setting>
    </IQ.CuentasMedicas.My.MySettings>
  </applicationSettings>
</configuration>


